body{
    background-color: skyblue;
    text-align: center;
}

.myself{
    background-color: cornsilk;
}
.titlebar{

    line-height: 0.1cm;
    text-align: right;
    background-color: coral;
    padding: 12px;
    
    
}

.content{
    
    font-weight: bold;
    margin-top: 430px;
}

.content2{
    font-weight: bold;
}

.content3{
    margin-top: 50px;

}